body {
    font-family: Arial, sans-serif;
    background-color: #e3f7ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.header {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    gap: 10px;
}

.header button {
    padding: 10px 20px;
    background-color: #005b4f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1;
}

.header button:hover {
    background-color: #007566;
}

.container {
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    text-align: left;
}

h2 {
    text-align: center;
    color: #005b4f;
    margin-bottom: 25px;
    font-size: 28px;
}

label {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #b3dfe8;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
    border-color: #005b4f;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 91, 79, 0.5);
}

.modal-content button {
    width: 100%;
    padding: 15px;
    background-color: #005b4f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content button:hover {
    background-color: #007566;
}

.character-counter {
    font-size: 14px;
    color: #666;
    text-align: right;
}

.close-button {
    font-size: 22px;
    color: #333;
    float: right;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        padding: 30px;
    }

    button {
        font-size: 16px;
        padding: 12px;
    }
}